.topo{
    background-color: deepskyblue;
    font-size: 16px;
    padding: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
.menu{
    width: auto;
    margin: auto;
    background-color: rgb(240, 240, 240);
    padding-left: 80px;
    border-bottom: solid 1px black;
    text-align: center;
}
.itens-do-menu{
    display: inline-block;
    padding: 16px;
    margin: 4px;
    margin-right: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: auto;
    font-weight: bold;
}
.itens-do-menu-active{
    display: inline-block;
    padding: 16px;
    margin: 4px;
    margin-right: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: auto;
    background-color: rgb(235, 235, 41);
    font-weight: bold;
    border-radius: 15px;
}
a:hover{
    font-weight: bold;
}
.titulo{
    text-align: left;
    font-family:serif;
    font-size: 40px;
}
.foto{
    float:left;
    margin-left: 100px;
    margin-right: 50px;
    width:300px;height:300px;
    border-radius: 1000px;
    margin-bottom: 40px;
    padding-top: 10px;
}
.texto{
    font-size: 30px;
    font-family: serif;
    padding: 20px;
    margin-top: 48px;
    line-height: 30px;
}
.container-fluid{
    background-color: deepskyblue;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto; 
}
.bloco1{
    display:inline-flex;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    padding: 40px;
}
.txt{
    display: block;
    position: relative;
    float: right;
    margin-left: 40px;
}
.col-sm-4{
    text-decoration: none;
}
.itens-do-menu-footer{
    display: inline-block;
    padding: 16px;
    margin: 4px;
    margin-right: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: auto;
    font-weight: bold;
}
.descricao{
    background-color: deepskyblue;
    font-size: 16px;
    padding: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
.itens-do-menu:hover{
    border: 3px solid black;
    background-color:  rgb(235, 235, 41);
    transition: 1s;
    border-radius: 20px;
}
a{
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif
}
























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































